@model IEnumerable<DAL.DeptMaster>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get All Department</title>
</head>
<body>
    <h3>List of Departments</h3>
    <div> 
        <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
            @foreach (var dept in Model)
            {
                <tr>
                    <td>@dept.DeptCode</td>
                    <td>@dept.DeptName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
